<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neves.aboutme" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/neves"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BasicDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_basic"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EducationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_education"
            android:parentActivityName=".BasicDataActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neves.aboutme.BasicDataActivity" />
        </activity>
        <activity
            android:name=".JobsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_jobs"
            android:parentActivityName=".BasicDataActivity"
            android:theme="@style/FullscreenTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.neves.aboutme.BasicDataActivity" />
        </activity>
    </application>

</manifest>
